# Virtual environments
.venv/
env/
venv/

# Logs
*.log

# Git
.git/
.gitignore
.github/

# Docker artifacts
Dockerfile~
.dockerignore~

# Ignore generated credentials from google-github-actions/auth
gha-creds-*.json
